{include file="reart/header.html"}
<div class="sflash"><img src="/images/smallflash.jpg" alt="" /></div>
    <div class="works"><a href="#"><img src="/images/ps.jpg" /></a></div>
    <div class="bj"><img src="/images/pr_ca.jpg" /></div>
    <div class="seachpr">
    {foreach from=$cates item=cate }
    	<a href="search.php?language=en&cate={$cate.id}">{$cate.ename}</a><b></b>
    {/foreach}
    </div>
     <div class="bj"><img src="images/pr_p.jpg" /></div>
       <div class="seachpr">
       	{foreach from=$prices item=price }
    		<a href="search.php?language=en&price={$price.id}">{$price.price_ename}</a><b></b>
    	{/foreach}
       </div>
     <div class="bj"><img src="images/pr_au.jpg" /></div>
       <div class="seachpr">
       {foreach from=$artists item=artist }
    	<a href="search.php?language=en&eartist={$artist.ename}">{$artist.ename}</a><b></b>
    	{/foreach}
       </div>
    <table width="500" align="center" height="100px">
    <tr>
    <td>
    </td>
    </tr>
    </table>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>



