{include file="reart_en/header.html"}
{literal}
<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="/css/lightbox.css" />
{/literal}
	<div class="left-wrap">		
		<div class="photo-view-01">
			<h2>History</h2>
			<dl class="wrapClear">
            {foreach from=$history_list item=hl}
				<dd>
					<p class="images"><a href="detail.php?language=en&id={$hl.id}"><img src="{$img_url_s}{$hl.picCode}.jpg" /></a></p>
					<p>{$hl.ename}</p>
					<p>{$hl.artist_ename}</p>
				</dd>
             {/foreach}   
				<dt><a href="list.php">more</a></dt>	
			</dl>
		</div>
	</div>
	<div class="middle-wrap">
		<div class="flash">
		  <span>Not exist</span>
		</div>		
	</div>
	<div class="right-wrap">
		<div class="photo-view-02">
			<h2>Recommend：</h2>
			<dl class="wrapClear">
				{foreach from=$recommen_list item=rw}
				<dd>
					<p class="images"><a href="detail.php?language=en&id={$rw.id}"><img src="{$img_url_s}{$rw.picCode}.jpg" /></a></p>
					<p>{$rw.ename}</p>
					<p>{$rw.artist_ename}</p>
				</dd>	
                {/foreach}
			</dl>
		</div>	
	</div>
	<div class="clr"></div>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>



