<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/base_en.css" />
</head>
<body>
<center>
<div id="main-wrap">
	<div class="header wrapClear">
		<div class="logo"><a href="/index.php?language=en"><img src="/images/logo.gif" alt="" /></a></div>
		<div class="text"></div>
	</div>
	<div class="main-nav wrapClear">
		<div class="nav"><a href="/index.php?language=en">Home</a><b>|</b><a href="/user/about_us.php?language=en">About Us</a><b>|</b><a href="/list.php?language=en">List of works</a><b>|</b><a href="#">Favorites investment advisory</a><b>|</b><a href="/user/contact_us.php?language=en">Contact Us</a><b>|</b>{$check_login}</div>
		<div class="language"><a href="/index.php">中文</a><a href="/index.php?language=en">English</a></div>
	</div>
{literal}
<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="/css/lightbox.css" />
{/literal}
	<div class="left-wrap">
		<div class="text-description-01">
			<p>{$workdetail.artist_ename}</p>
			<p>{$workdetail.ename}</p>
			<!--p>Sui Jianguo, Tilted Utopia</p--> 
			<!--p>{$workdetail.comment}</p-->
			{if $workdetail.age}<p>{$workdetail.age}</p>{/if}
			{if $workdetail.cate_name}<p>{$workdetail.cate_ename}</p>{/if}
			{if $workdetail.size}<p>{$workdetail.esize}</p>{/if}
			{if $workdetail.signal}<p>Signal<br />{$workdetail.esignal}</p>{/if}
			{if $workdetail.literature}<p>Literature:<br />{$workdetail.eliterature}</p>{/if}
			{if $workdetail.exhibition}<p>Exhibition:</p>	<p>{$workdetail.exhibitionEName}</p>{/if}
		</div>
		<div class="photo-view-01">
			<h2>History</h2>
			<dl class="wrapClear">
            {if $listlink eq 1}
            	<dd>
					<p class="images"><a href="list.php?language=en"><img src="{$img_url_s}{$history_list.picCode}.jpg" /></a></p>
				</dd>
            {else}
            {foreach from=$history_list item=hl}
				<dd>
					<p class="images"><a href="detail.php?language=en&id={$hl.id}"><img src="{$img_url_s}{$hl.picCode}.jpg" /></a></p>
					<p>{$hl.ename}</p>
					<p>{$hl.artist_ename}</p>
				</dd>
             {/foreach}   
             {/if}
				<dt class="clr"></dt>
				<dt><a href="list.php?flag=history&language=en">more</a></dt>	
			</dl>
		</div>
	</div>
	<div class="middle-wrap">
		<div class="flash">
		  <table width="100%" height="260px">
		    <tr>
		      <td><a href="detail.php?language=en&id={if $workdetail.less_id eq ''} {$workdetail.id} {else} {$workdetail.less_id} {/if}"><img src="images/left_arrow.gif"  /></a></td>
		      <td><img src="{$img_url_l}{$workdetail.picCode}.jpg" /></td>
		      <td><a  href="detail.php?language=en&id={if $workdetail.more_id eq ''} {$workdetail.id} {else} {$workdetail.more_id} {/if}"><img src="images/right_arrow.gif"/></a></td>
	        </tr>
	      </table>
          <table width="100%" height="30">
          <tr>
          <th align="left"><a href="/user/buy.php?language=en"><img src="images/buy.gif" /></a></th><th align="right"><a rel="lightbox" href="{$img_url_xl}{$workdetail.picCode}.jpg"><img src="images/zoom.gif" /></a></th>
          </tr>
          </table>
  </div>
		<div class="text-description-02">
			<p>{$workdetail.edescription}</p>
		</div>
		<div class="text-descri3-box">
			<div class="text-description-03">
				{$workdetail.eresume}
			</div>	
		</div>	
	</div>
	<div class="right-wrap">
		<div class="photo-view-02">
			<h2>Recommend：</h2>
			<dl class="wrapClear">
				{foreach from=$recommen_list item=rw}
				<dd>
					<p class="images"><a href="detail.php?language=en&id={$rw.id}"><img src="{$img_url_s}{$rw.picCode}.jpg" /></a></p>
					<p>{$rw.ename}</p>
					<p>{$rw.artist_ename}</p>
				</dd>	
                {/foreach}
			</dl>
		</div>	
	</div>
	<div class="clr"></div>
	{include file="reart_en/footer.html"}
</div>
</center>
</body>
</html>



