{include file="reart_en/header_detail.html"}

{literal}
<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="/css/lightbox.css" />
{/literal}

<center>
<div id="box-wrap">
	<div class="left-wrap">
		<div class="text-description-01">			
			<p>{$workdetail.artist_ename}</p>
			<p>{$workdetail.ename}</p>
			{if $workdetail.age}<p>{$workdetail.age}</p>{/if}
			{if $workdetail.etexture}<p>{$workdetail.etexture}</p>{/if}
			{if $workdetail.esize}<p>{$workdetail.esize}</p>{/if}
			{if $workdetail.esignal}<p>Signal<br />{$workdetail.esignal}</p>{/if}
			{if $workdetail.eliterature}<p>Literature:<br />{$workdetail.eliterature}</p>{/if}
			{if $workdetail.exhibitionEName}<p>Exhibition:<br />{$workdetail.exhibitionEName}</p>{/if}
		</div>
		<div class="photo-view-01">
			<h2>History</h2>
			<dl class="wrapClear">
            {if $listlink eq 1}
            	<dd>
					<p class="images"><a href="list.php?language=en"><img src="{$img_url_s}{$history_list.picCode}.jpg" /></a></p>
				</dd>
            {else}
            {foreach from=$history_list item=hl}
				<dd>
					<p class="images"><a href="detail.php?language=en&id={$hl.id}"><img src="{$img_url_s}{$hl.picCode}.jpg" /></a></p>
					<p>{$hl.ename}</p>
					<p>{$hl.artist_ename}</p>
				</dd>
             {/foreach}   
             {/if}
				<dt class="clr"></dt>
				<dt><a href="list.php?flag=history&language=en">more</a></dt>	
			</dl>
		</div>
	</div>
	<div class="middle-wrap">
		<div class="flash">
		<table align="left" height="260px">
		<tr>
		      <td width="34"></td>
		      <td width="260" valign="middle"><img src="{$img_url_l}{$workdetail.picCode}.jpg" /></td>
		      <td width="33"></td>
	        </tr>
	      </table>
          <table width="327" height="30" border="0" align="left" cellpadding="0" cellspacing="0">
          <tr>
          <th width="51" align="left">&nbsp;</th>
          <th width="41" ><a href="detail.php?language=en&id={if $workdetail.less_id eq ''} {$workdetail.id} {else} {$workdetail.less_id} {/if}"><img src="/images/al.jpg" /></a></th>
          <th width="46"><a  href="detail.php?language=en&id={if $workdetail.more_id eq ''} {$workdetail.id} {else} {$workdetail.more_id} {/if}"><img src="/images/ar.jpg" /></a></th>
          <th width="46"><a href="/user/buy.php?language=en"><img src="/images/buy.jpg" /></a></th>
          <th width="46"><img src="/images/aa.jpg" /></th>
          <th width="46" ><a rel="lightbox" href="{$img_url_xl}{$workdetail.picCode}.jpg"><img src="/images/serch2.jpg" /></a></th>
          <th width="51">&nbsp;</th>
          </tr>
          </table>
  </div>
		<div class="text-description-02">
        	<h2><img src="/images/dp_en.jpg" height="32" /></h2>
			<p>{$workdetail.edescription}</p>
		</div>
		<div class="text-descri3-box">
        <h2><img src="/images/jj_en.jpg" /></h2>
			<div class="text-description-03">
				<p>{$workdetail.eresume}</p>
			</div>	
		</div>	
	</div>
	<div class="right-wrap">
		<div class="photo-view-02">
			<h2>Recommend：</h2>
			<dl class="wrapClear">
				{foreach from=$recommen_list item=rw}
				<dd>
					<p class="images"><a href="detail.php?language=en&id={$rw.id}"><img src="{$img_url_s}{$rw.picCode}.jpg" /></a></p>
					<p>{$rw.ename}</p>
					<p>{$rw.artist_ename}</p>
				</dd>	
                {/foreach}
			</dl>
		</div>	
	</div>
	<div class="clr"></div>
	{include file="reart_en/footer.html"}
</div>
</center>
</body>
</html>



