<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Reart Art Collecting Consultancy-{$title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/base_en.css" />
</head>
<body>
<div id="main-wrap">
	<div class="header wrapClear">
		<div class="logo"><a href="/index.php?language=en"><img src="/images/logo.gif" alt="" /></a></div>
		<div class="text"></div>
	</div>
	<div class="main-nav wrapClear">
		<div class="nav"><a href="/index.php?language=en">Home</a><b>|</b><a href="/user/about_us.php?language=en">About Us</a><b>|</b><a href="/list.php?language=en">List of works</a><b>|</b><a href="#">Favorites investment advisory</a><b>|</b><a href="/user/contact_us.php?language=en">Contact Us</a><b>|</b>{$check_login}</div>
		<div class="language"><a href="/index.php">中文</a><a href="/index.php?language=en">English</a></div>
	</div>