{include file="reart_en/header.html"}
<div class="text-content wrapClear">
    <div><img src="/images/Contact_en.jpg" width="100" height="15" /></div>
      <div class="page-nav">
			<p>{include file="reart_en/module_page_search.html"}</p>
	  </div>
	  <div class="option">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div class="text">
        <div><img src="/images/bg-01t.gif" width="659" height="21" /></div>
        {foreach from=$investlist item=invest }
          <p><a href="/invest_article.php?language=en&id={$invest.id}">{$invest.etitle}</a></p>
          {/foreach}
          <div><img src="/images/bg-01bt.gif" width="659" height="27" /></div>
        </div>		
	</div>
    <div class="page-nav">
			<p>{include file="reart_en/module_page_search.html"}</p>
	  </div>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>




