{include file="reart/header.html"}
<div class="text-content wrapClear">
 <div><img src="/images/invest_en.jpg" width="120" height="32" /></div>
    <div class="title">{$about_msg.title}</div>
	  <!--<div class="page-nav">
			<p>{include file="reart_en/module_page_search.html"}</p>
	  </div>-->
	  <div class="option">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div class="text">
        <div><img src="/images/bg-01t.gif" width="659" height="21" /></div>
		  <p>{$art_title}</p><br />
		  <p>{$content}</p>
          <div><img src="/images/bg-01bt.gif" width="659" height="27" /></div>
        </div>		
	</div>
   <!-- <div class="page-nav">
			<p>{include file="reart_en/module_page_search.html"}</p>
	  </div>-->
	{include file="reart/footer.html"}
</div>
</body>
</html>




