{include file="reart_en/header.html"}
	<div class="text-content wrapClear">
		<div class="option">
			<p><a  href="/user/favorite.php?language=en"><img src="/images/fav_en.jpg" /></a></p>
			<p><a href="/user/mod_user_info.php?language=en"><img src="/images/modify_en.jpg" /></a></p>
		</div>
		<div class="text">
		<div><img src="/images/bg-01t.gif" width="659" height="21" /></div>
		<p>Welcome {$data.userName}! The last login time is: {$data.loginDate}</p>
		<p></p>
			<div class="info">
				<p>Your Information is：</p>
				<p>User name：{$data.userName}</p>
				<p>True name：{$data.trueName}</p>
				<p>E-mail: {$data.email}</p>
				<p>Telephone：{$data.phone}</p>
				<p>Address：{$data.address}</p>
			</div>
			 <div><img src="/images/bg-01bt.gif" width="659" height="27" /></div>
		</div>		
	</div>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>



