{include file="reart_en/header.html"}
	<div class="photo-lists">
		<div class="option">
			<p><a><img src="images/seach_en.jpg"/></a></p>
		</div>
        {include file="reart_en/module_search.html"}
		<div class="page-nav">
			<p>{include file="reart_en/module_page_search.html"}</p>
		</div>
        {if $worklist}
			{include file="reart_en/module_work_list.html"}
        {else}
        	{include file="reart_en/module_work_no.html"}
        {/if}
		<div class="page-nav">
			<p>{include file="reart_en/module_page_search.html"}</p>
		</div>		
	</div>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>



