{include file="reart_en/header.html"}
{include file="reart_en/module_daohang.html"}
	<div class="text-content wrapClear">
    <div class="title">{$about_msg.etitle}</div>
	  <div class="option">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div class="text">
		<div><img src="/images/bg-01t.gif" width="659" height="21" /></div>
		  <p>{$about_msg.econtent}</p>
		  <div><img src="/images/bg-01bt.gif" width="659" height="27" /></div>
        </div>		
	</div>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>



