{include file="reart_en/header.html"}
	<div class="text-content wrapClear">
    <div class="title"></div>
	  <div class="option">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div class="text">
		<div><img src="/images/bg-01t.gif" width="659" height="21" /></div>
		  <p>Company：Union Art Culture & Media Co., ltd.<br>
Address：Rm. 705, Block B, Building 3, north Community, 32 Baiziwan Rd, Chaoyang district, Beijing, China, 100022 <br>
Code：100022</p>
<p>
Telephone： +86 10 5876 9207/9013<br>
Fax： +86 10 5876 9207/9013-808<br>
Website： www.reart.com.cn<br>
E-mail： service@reart.com.cn<br>
</p>
<p>
VIP Reception：<br>
eastation gallery, Rm 9, Building 1, north Community, 32 Baiziwan Rd, Chaoyang district, Beijing, China, 100022<br>
</p>
<p>
Toll-free Hot Line: +86 400 898 1600<br>
</p>
		  <div><img src="/images/bg-01bt.gif" width="659" height="27" /></div>
        </div>		
	</div>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>



