{include file="reart_en/header.html"}
<div class="sflash">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="715" height="200" id="fx_box" align="middle">
	<param name="allowScriptAccess" value="sameDomain" />
	<param name="movie" value="fx_small_en.swf" />
	<param name="quality" value="high" />
	<param name="bgcolor" value="#ffffff" />
	<param name="wmode" value="transparent" />
	<embed src="fx_small_en.swf" quality="high" bgcolor="#ffffff" width="715" height="200" name="fx_box" align="middle" wmode="transparent" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
</div>
    <div class="works"><img src="/images/ps_en.jpg" /></div>
    <div class="bj"><img src="/images/pr_ca_en.jpg" /></div>
    <div class="seachpr">
     <table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
       {foreach from=$cates item=cate }
        <td><span>&nbsp;&nbsp;</span><a href="search.php?language=en&cate={$cate.id}">{$cate.ename}</a></td>
        {/foreach}
      </tr>
    </table>
  </div>
     <div class="bj"><img src="/images/pr_p_en.jpg" /></div>
       <div class="seachpr">
       <table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
      {foreach from=$prices item=price }
        <td width="141"><span>&nbsp;&nbsp;</span><a href="search.php?language=en&price={$price.id}">{$price.price_ename}</a></td>
        {/foreach}
      </tr>
    </table>
       
       </div>
     <div class="bj"><img src="images/pr_au_en.jpg" /></div>
       <div class="seachpr"><table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
      {foreach from=$artists item=artist }
    	<td><span>&nbsp;&nbsp;</span><a href="search.php?language=en&eartist={$artist.ename}">{$artist.ename}</a></td>
    	{/foreach}
      </tr>
    </table></div>
    <table width="500" align="center" height="100px">
    <tr>
    <td>
    </td>
    </tr>
    </table>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>



