{include file="reart_en/header.html"}
{literal}
<script type="text/javascript" >
function refreshValidateCode(id)
{
	document.getElementById(id).src = "/js/validateCode.php?t="+Math.random();
}
</script>
{/literal}
	<div class="sign-form">
	  <table width="939">
	    <tr>
	      <td class="link" width="328" rowspan="4" align="center"><a class="btn-01" href="#">Contact Us</a></td>
	      {$msg}
        </tr>
        <form action="/user/contact_us.php?action=submit&language=en" method="POST">
        <input name="type" type="hidden" value="1">
	    <tr>
	      <td >Recommendations/advice:</td>
	      <td><textarea cols="48" rows="8" name="content"></textarea></td>
        </tr>
	    <tr>
	      <td>Verification Code:</td>
	      <td><input class="width-02" type="text" name="validateCode2" /> <img style="" id="previewPic" src="/js/validateCode.php" onclick="refreshValidateCode('previewPic');" alt="Refresh Code">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit">submit</button></td>
        </tr>
        </form>
	    <tr>
	      <td></td>
	      <td class="btn">&nbsp;</td>
        </tr>
	    <tr>
	      
        </tr>
      </table>
</div>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>



