{include file="reart_en/header.html"}
	<div class="photo-lists">
		<div class="option">
			<p><a class="btn-01" href="/user/favorite.php?language=en">Favorite</a></p>
			<p><a class="btn-01" href="/user/mod_user_info.php?language=en">Modify</a></p>
		</div>	
		<div class="page-nav">
			<p>{include file="reart_en/module_page.html"}</p>
		</div>
		{include file="reart_en/module_work_list.html"}
		<div class="page-nav">
			<p>{include file="reart_en/module_page.html"}</p>
		</div>		
	</div>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>



