{include file="reart_en/header.html"}
<div class="text-content wrapClear">
    <div><img src="/images/invest_en.jpg" width="120" height="32" /></div>
      <div class="page-nav">
			<p>{include file="reart_en/module_page_search.html"}</p>
	  </div>
	  <div class="text-content wrapClear">
	  <div class="option">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div class="text">
        <div><img src="/images/bg8.gif" /></div>
		 <div class="texttxt">
         <ul>
         {foreach from=$investlist item=invest }
         <li><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/invest_article.php?language=en&id={$invest.id}">{$invest.etitle}</a></li>
         {/foreach}
         </ul>
		 </div>
		 <div><img src="/images/bg8.gif" /></div>
        </div>		
	</div>		
	</div>
    <div class="page-nav">
			<p>{include file="reart_en/module_page_search.html"}</p>
	  </div>
	 <table height="100">
		<tr>
			<td></td>
		</tr>
	  </table>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>




