{include file="reart_en/header.html"}
	<div class="text-content wrapClear">
    <div>
    <p><img src="/images/link_en.jpg" width="77" height="29" /></p>
	</div>
	  <div class="option">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  </div>
		<div class="text">
		<div><img src="/images/bg8.gif" /></div>
		<div  class="texttxt1"><p>{section name=list loop=$linklist}
			<a href="{$linklist[list].url}"><img src="/upload/{$linklist[list].picname}"></a>
			{/section}</p>
		</div>
		  <div><img src="/images/bg8.gif" /></div>
		</div>		
	</div>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>



