{include file="reart_en/header.html"}
{literal}
<script type="text/javascript" >
function refreshValidateCode(id)
{
	document.getElementById(id).src = "/js/validateCode.php?t="+Math.random();
}
</script>
{/literal}
	<div class="sign-form">
 <table>
		<form action="/user/login.php?language=en" method="POST" name="login"> 
		<input type="hidden" name="reurl_return" value="{$reurl}">      
			<tr>
				<td class="link" width="350" rowspan="4" align="center"><img src="/images/user_en.jpg" height="19" /></td>
				<td width="120">Username:</td>
				<td width="554"><input class="width-01" type="text" name="login_name" /></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td colspan="3"><input class="width-01" type="password" name="login_pwd" /></td>
			</tr>
			<tr>
				<td>Verification Code:</td>
				<td><input class="width-02" type="text" name="validateCode2" /> <img style="" id="previewPic" src="/js/validateCode.php" onclick="refreshValidateCode('previewPic');" alt="Refresh Code"></td>
			</tr>
			<tr>
				<td></td>
				<td class="btn"><button type="submit">Login</button></td>
			</tr>
		</form>
        <form action="register.php?language=en" method="POST" name="register">
			<tr>
				<td class="link" rowspan="9" width="350" align="center"><img src="/images/register_en.jpg" width="180" height="19" /></td>
				<td width="120">Username:</td>
				<td width="554"><input class="width-01" type="text" name="userName" /><b class="star">*<b></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input class="width-01" type="password" name="pwd" /><b class="star">*<b></td>
			</tr>
			<tr>
				<td>Confirm password:</td>
				<td><input class="width-01" type="password" name="confirm_pwd" /><b class="star">*<b></td>
			</tr>
			<tr>
				<td>E-mail:</td>
				<td><input class="width-01" type="text" name="email" /><b class="star">*<b></td>
			</tr>
			<tr>
				<td>True name:</td>
				<td><input class="width-01" type="text" name="trueName" /></td>
			</tr>
			<tr>
				<td>Telephone:</td>
				<td><input class="width-01" type="text" name="phone" /><b class="star">*<b></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><input class="width-01" type="text" name="address" /></td>
			</tr>
			<tr>
				<td>Verification Code:</td>
				<td><input class="width-02" type="text" name="validateCode1" /><img style="" id="previewPic1" src="/js/validateCode.php" onclick="refreshValidateCode('previewPic1');" alt="Refresh Code"></td>
			</tr>
			<tr>
				<td></td>
				<td class="btn"><button type="submit">Register</button></td>
			</tr>
		</table>
		</form>
  </div>
  <table height="100">
		<tr>
			<td></td>
		</tr>
	  </table>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>



