{include file="reart_en/header.html"}
	<div class="text-content wrapClear">
		<div class="option">
			<p><a  href="/user/favorite.php?language=en"><img src="/images/fav_en.jpg" /></a></p>
			<p><a href="/user/mod_user_info.php?language=en"><img src="/images/modify_en.jpg" /></a></p>
		</div>
		<div class="text">
		<div><img src="/images/bg-01t.gif" width="659" height="21" /></div>
		<p>Modify Information</p>
		<p></p>
		<form action="/user/mod_user_info.php?language=en" method="POST">
			<div class="info">
				<table width="250">    
					<tr>
						<td style="font-family: Arial;font-size:14px;height:30px;">True name:</td>
						<td align="right" style="font-family: Arial;font-size:14px;height:30px;" ><input name="trueName" type="text" value="{$data.trueName}"></td>
					</tr>
					<tr>
						<td style="font-family: Arial;font-size:14px;height:30px;">E-mail:</td>
						<td colspan="3" align="right" style="font-family: Arial;font-size:14px;height:30px;"><input name="email" type="text" value="{$data.email}"></td>
					</tr>
					<tr>
						<td style="font-family: Arial;font-size:14px;height:30px;">Telephone:</td>
						<td colspan="3" align="right" style="font-family: Arial;font-size:14px;height:30px;"><input name="phone" type="text" value="{$data.phone}"></td>
					</tr>
					<tr>
						<td style="font-family: Arial;font-size:14px;height:30px;">Address:</td>
						<td colspan="3" align="right" style="font-family: Arial;font-size:14px;height:30px;"><input name="address" type="text" value="{$data.address}"></td>
					</tr>
					<tr>
						<td colspan="4" height="30" ></td>
					</tr>
					<tr>
						<td></td>
						<td class="btn"><button type="submit">submit</button></td>
					</tr>
				</table>
			</div>
		</form>
			 <div><img src="/images/bg-01bt.gif" width="659" height="27" /></div>
		</div>		
	</div>
	{include file="reart_en/footer.html"}
</div>
</body>
</html>



