{include file="reart/header.html"}
{literal}
<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="/css/lightbox.css" />
{/literal}
	<div class="left-wrap">
		<div class="text-description-01">
			<p>{$workdetail.artist_name}&nbsp;&nbsp;&nbsp;&nbsp;{$workdetail.name}</p>
			<!--p>Sui Jianguo, Tilted Utopia</p--> 
			<p>{$workdetail.comment}</p>
			<p>{$workdetail.age}</p>
			<p>展览：</p>
			<p>中国北京，C-空间，倾斜的桃花源--- 汉克.维奇和隋建国, 2008</p>
			<p>EXHIBITED</p>
			<p>Beijing, China, C- Space, “Ships at Sea” – Henk Visch &amp; Sui Jianguo, 2008</p>
		</div>
		<div class="photo-view-01">
			<h2>您浏览过的作品</h2>
			<dl class="wrapClear">
            {foreach from=$history_list item=hl}
				<dd>
					<p class="images"><a href="detail.php?id={$hl.id}"><img src="{$img_url_s}{$hl.picCode}.jpg" /></a></p>
					<p>{$hl.name}</p>
					<p>{$hl.artist_name}</p>
				</dd>
             {/foreach}   
				<dt><a href="list.php">更多</a></dt>	
			</dl>
		</div>
	</div>
	<div class="middle-wrap">
		<div class="flash">
		  <table width="100%">
		    <tr>
		      <td><a href="detail.php?id={if $workdetail.less_id eq ''} {$workdetail.id} {else} {$workdetail.less_id} {/if}"><img src="images/left_arrow.gif"  /></a></td>
		      <td><img src="{$img_url_l}{$workdetail.picCode}.jpg" /></td>
		      <td><a  href="detail.php?id={if $workdetail.more_id eq ''} {$workdetail.id} {else} {$workdetail.more_id} {/if}"><img src="images/right_arrow.gif"/></a></td>
	        </tr>
	      </table>
          <table width="100%" height="30">
          <tr>
          <th align="left"><a href="#"><img src="images/buy.gif" /></a></th><th align="right"><a rel="lightbox" href="{$img_url_xl}{$workdetail.picCode}.jpg"><img src="images/zoom.gif" /></a></th>
          </tr>
          </table>
  </div>
		<div class="text-description-02">
			{$workdetail.description}
		</div>		
		<div class="text-description-03">
			{$workdetail.resume}
		</div>		
	</div>
	<div class="right-wrap">
		<div class="photo-view-02">
			<h2>推荐作品：</h2>
			<dl class="wrapClear">
				{foreach from=$recommen_list item=rw}
				<dd>
					<p class="images"><a href="detail.php?id={$rw.id}"><img src="{$img_url_s}{$rw.picCode}.jpg" /></a></p>
					<p>{$rw.name}</p>
					<p>{$rw.artist_name}</p>
				</dd>	
                {/foreach}
			</dl>
		</div>	
	</div>
	<div class="clr"></div>
	{include file="reart/footer.html"}
</div>
</body>
</html>



