{include file="reart/header.html"}
	<div class="photo-lists">
		<div class="option">
			<p><a class="btn-01" href="/user/favorite.php">收藏夹</a></p>
			<p><a class="btn-01" href="/user/mod_user_info.php">会员信息修改</a></p>
		</div>	
		<div class="page-nav">
			<p>{include file="reart/module_page.html"}</p>
		</div>
		{include file="reart/module_work_list.html"}
		<div class="page-nav">
			<p>{include file="reart/module_page.html"}</p>
		</div>		
	</div>
	{include file="reart/footer.html"}
</div>
</body>
</html>



