{include file="reart/header.html"}
	<div  align="center" id="fx_flash">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="939" height="400" id="fx_box" align="middle">
	<param name="allowScriptAccess" value="sameDomain" />
	<param name="movie" value="fx_box_ch.swf" />
	<param name="quality" value="high" />
	<param name="bgcolor" value="#ffffff" />
	<param name="wmode" value="transparent" />
	<embed src="fx_box_ch.swf" quality="high" bgcolor="#ffffff" width="939" height="400" name="fx_box" align="middle" wmode="transparent" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />

	</object>
	</div>
	<!--{include file="reart/module_search.html"}-->
	<p style="margin-bottom:10px;"><font style="font-size:12px;padding-left:213px;font-family:Arial, Helvetica, sans-serif;">所有推荐作品均可接受询价  免费咨询专线：+86 400 898 1600  电邮： service@reart.com.cn</font></p>
	{include file="reart/footer.html"}
</div>
</body>
</html>



