{include file="reart/header.html"}
	<div class="photo-lists">
	  <div class="footer-option" style="margin-bottom:20px;"></div>		
		<div class="page-nav">
			<p>{include file="reart/module_page.html"}</p>
		</div>	
		<div class="photo">
			<ul class="wrapClear">
				{include file="reart/module_work_list.html"}					
			</ul>
		</div>
		<div class="page-nav">
			<p>{include file="reart/module_page.html"}</p>
		</div>		
	</div>
	{include file="reart/footer.html"}
</div>
</body>
</html>



