{literal}
<script type="text/javascript">
function formSubmit()
{
	document.forms[0].submit();
}
</script>
{/literal}
        <form name="work_search" id="work_search" method="post" action="search.php">
		<div class="footer-option" style="margin-bottom:20px;">
			<dl class="wrapClear">
				<dt class="f">作品搜索</dt>
				<dd>类别<select name="cate">
                	<option value='0'>全部</option>
				{foreach from=$cate item=ct}
					<option value='{$ct.id}'>{$ct.name}</option>
				{/foreach}
				</select>
                </dd>
				<dd>价格<input type="text" name="price" value="{$sarch_arr.price}" /></dd>
				<dd>作者<input type="text" name="artist" value="{$sarch_arr.artist}" /></dd>
				<dd>年代<input type="text" name="age" value="{$sarch_arr.age}" /></dd>
				<dt class="l" onClick="formSubmit();"><button>搜索</button></dt>
			</dl>
		</div>		
        </form>


