/* =base
 * --------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body{font-family:"宋体",Arial,Verdana,Helvetica,sans-serif;color:#595757;line-height:1.2;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
A{text-decoration:none;}
A:focus{outline:0;}
A:link{color:#595758;text-decoration:none;}
A:visited{color:#595758;}
A:hover{color:#B3A08F;text-decoration:underline;}
A:active{color:#B3A08F;}
A:-moz-any-link:focus{outline:1px dotted invert;}
.clr{clear:both;height:1px;overflow:hidden;margin-top:-1px;}
.wrapClear{clear:both;overflow:hidden;zoom:1;text-align:left;}
/* =wrap
 * --------------------------------------------------------------*/
#main-wrap{
	width:939px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#box-wrap{
	width:939px;
	margin-top: 0x;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align:left;
}
.left-wrap{float:left;margin:29px 0 85px 12px;width:269px;display:inline; }
.middle-wrap{float:left;margin:29px 0 85px 38px;width:410px;display:inline;}
.right-wrap{float:right;margin:29px 0 85px;width:156px;display:inline;}
/* =header
 * --------------------------------------------------------------*/
.header .logo{float:left;width:176px;}
.header .text{
	float:right;
	height:29px;
	width:180px;
	font-size:20px;
	color:#595757;
	font-family:Arial, Helvetica, sans-serif,宋体;
	padding-top: 70px;	
}
.header .text INPUT.width-03{
	border:1px solid #666464;
	background:#ffffff;
	width:150px;
	margin-bottom: 4px;
}
/* =main-nav
 * --------------------------------------------------------------*/
.main-nav{
	margin-top:17px;
	padding-bottom:1px;
	border-bottom:1px solid #5A5858;
}
.main-nav .nav{float:left;}
.main-nav .nav,.main-nav .nav A{
	font-size:12px;
	font-weight:bold;
}
.main-nav .nav B{margin:0 10px;}
.main-nav .language{float:right;}
.main-nav .language A{margin-left:10px;font-size:12px;font-weight:bold;}
.works {
	display:block;
	font-size:12px;
	color:#000000;
	margin-top:29px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
.sflash {
	display:block;
	font-size:12px;
	color:#000000;
	margin-top:30px;
	margin-bottom:10px;
	text-align: center;
}
.seachpr  {
	margin-top:17px;
	padding-bottom:5px;
	padding-left:170px;
	padding-right:140px;
	line-height: 25px;
	text-align:left;
}

#menu{WIDTH:650px;
MARGIN-RIGHT: auto;
MARGIN-LEFT: auto;
		text-align:center;white-space:nowrap;}
#menu ul{
display:inline;
}
#menu li{
	float:left;
	width:110px;
	line-height:30px;
	white-space:nowrap;
	text-align:left;
	LIST-STYLE-TYPE:none;
	display:block;
	background-image: url(../images/arrow1.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
}
#menuau{WIDTH:700px;
MARGIN-RIGHT: auto;
MARGIN-LEFT: auto;
		text-align:center;white-space:nowrap;}
#menuau ul{
display:inline;
}
#menuau li{
	float:left;
	width:170px;
	height:27px;
	white-space:nowrap;
	text-align:left;
	LIST-STYLE-TYPE:none;
	display:block;

}

.seachpr  a{
	font-size:14px;
	font-weight:bold;
	color:#999999;
	}
.seachpr B{margin:0 15px;}
.bottomborder{
border-bottom:solid 1px #999999; width:700px; margin-left:auto;margin-right:auto; clear:both; }
.bottomborder1{
border-bottom:solid 1px #cccccc;margin-left:auto;margin-right:auto; margin-top:10px;width:381px; clear:both;}

.bj {
	padding-left:90px;
	margin-top: 20px;
	clear:both;
}
.bj span{
	margin-left:10px;
	font-weight: bold;
	font-size:12px;
	width:700px;
	height:22px;
	text-align:left;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
}
.wh{ 
clear:both;
	 width:700px;
	}
/* =footer-option
 * --------------------------------------------------------------*/
.footer-option{
	background:url(../images/bg-line-01.gif) repeat-x 0 50%;
	text-align:center;
}
.footer-option BUTTON{
	border:0;
	color:#424242;
	font-size:13px;
	font-weight:bold;
	background:url(../images/btn-02.gif) no-repeat 0 0;
	width:52px;
	height:26px;
	cursor:pointer;
	margin-top: -5x;
}
.footer-option DL{position:relative;top:0;*top:-5px;_top:0;margin:0 auto;background:#FFF;width:623px;}
.footer-option DL DT,.footer-option DL DD{float:left;margin:15px;}
.footer-option DL DT{font-size:13px;}
.footer-option DL DT.f{padding-right:8px;border-right:1px solid #595757;}
.footer-option DL DT.l{
	padding-left:8px;
	border-left:1px solid #595757;
	height: 18px;
}
.footer-option DL DD{position:relative;top:0;*top:-3px;font-size:12px;}
.footer-option DL DD SELECT{margin-left:5px;font-size:11px;*font-size:10px;border:1px solid #666464;background:#f7f8f8; width:50px;}

.footer-option DL DD input{margin-left:5px;font-size:11px;*font-size:10px; width:40px;}
/* =sign-form
 * --------------------------------------------------------------*/
.sign-form{margin:52px 0;}
.sign-form TABLE TD{
	padding:10px 0;
	color:#000;
	font-size:13px;
	vertical-align:middle;
}
.sign-form TABLE th{
	padding:10px 0;
	color:#000;
	font-size:13px;
	vertical-align:top;
	font-weight: normal;
	text-align: left;
}

.sign-form TABLE TD.link{vertical-align:top;}
.sign-form TABLE TD A{display:block;color:#000000;}
.sign-form .btn-01{background:url(../images/btn-01.gif) no-repeat 0 0;width:92px;height:21px;line-height:17px;text-align:center;}
/*.sign-form TABLE TD INPUT{border:1px solid #666464;background:#f7f8f8;}
.sign-form TABLE TD INPUT .box{background:#ffffff;border: 0  none #000; }*/

.sign-form TABLE TD INPUT.width-01{border:1px solid #dedfd9;background:#f8f8f8;width:151px;}
.sign-form TABLE TD INPUT.width-02{border:1px solid #dedfd9;background:#f8f8f8;width:52px;}
.sign-form TABLE TD INPUT.width-03{border:1px solid #dedfd9;background:#f8f8f8;width:100px;}
.sign-form TABLE TD.btn{padding-left:100px;}
.sign-form TABLE TD BUTTON{padding:5px;border:0;color:#424242;font-size:14px;font-weight:bold;background:url(../images/btn-02.gif) no-repeat 0 0;width:52px;height:26px;cursor:pointer;}
.sign-form TABLE TD textarea{
	border-top-width: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dedfd9;
	border-right-color: #dedfd9;
	border-bottom-color: #dedfd9;
	border-left-color: #dedfd9;
}


/*.sign-form TABLE TD INPUT.width-01{border:0px solid #666464;background:#f7f8f8;width:151px;}
.sign-form TABLE TD INPUT.width-02{border:0px solid #666464;background:#f7f8f8;width:52px;}
.sign-form TABLE TD INPUT.width-03{border:0px solid #666464;background:#f7f8f8;width:100px;}
.sign-form TABLE TD.btn{padding-left:100px;}
.sign-form TABLE TD BUTTON{padding:5px;border:0;color:#424242;font-size:14px;font-weight:bold;background:url(../images/btn-02.gif) no-repeat 0 0;width:52px;height:26px;cursor:pointer;}
.sign-form TABLE TD textarea{border:0px solid #666464;background:#f7f8f8;}*/
.sign-form TABLE TD .star{position:relative;top:-5px;margin-left:10px;font-size:12px; color:#9c9c9c;}
/* =text-content
 * --------------------------------------------------------------*/
.text-content{margin:29px 30px 52px;}
 .text-nav{width:939px;background:url(../images/bg-line-01.gif) repeat-x 0 100%; margin-top:5px;
	padding-bottom:5px;}
.text-nav  A{
	font-size:12px;
	font-weight:bold;
	color:#999999
}
 .text-nav  B{margin:0 10px; font-size:12px; color:#999999;}	
.text-content .option{float:left;width:111px;}
.text-content .option A{display:block;font-size:12px;color:#000000b;}
.text-content .option .btn-01{margin-bottom:15px;background:url(../images/btn-01.gif) no-repeat 0 0;width:92px;height:21px;line-height:17px;text-align:center;}
.text-content .text{
	float:left;
	width:659px;
	text-align:center;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
	background-image: url(../images/bg-01bg.gif);
	background-repeat: repeat-y;
	background-position: 0 0;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
}
.text-content .title{text-align:center;font-size:14px;font-weight: bold;margin-bottom: 20px;}
.text-content .text  .texttxt{
	margin-top:50px;
	width:500px;
	margin-bottom:50px;
	margin-right: auto;
	margin-left: auto;
	}
.text-content .text  .texttxt li{
	margin-bottom:10px;
	font-size:14px;
	width:500px;
	background:url(../images/bg-line-01.gif) repeat-x 0 100%;
	text-align:left;
	line-height: 20px;
	margin-right: auto;
	margin-left: auto;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
}
.text-content .text  .texttxt li a{
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size:14px;
}
.text-content .text  .texttxt span{
	background-image: url(../images/arrow.jpg);
	background-repeat: no-repeat;
	height: 11px;
	width: 50px;
}
.text-content .text  .texttxt1{
	margin-top:20px;
	width:600px;
	margin-bottom:50px;
	margin-right: auto;
	margin-left: auto;
	}
.text-content .text  .texttxt1 p{
	margin-top:0px;
	width:600px;
	line-height: 40px;
	margin-bottom:50px;
	margin-right: auto;
	margin-left: auto;
	}

.text-content .text P{
	margin-bottom:10px;
	font-size:14px;
	width:500px;
	text-align:left;
	line-height: 20px;
	margin-right: auto;
	margin-left: auto;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
}
.text-content .text .texttxt1 B{
	margin-top: 0;
	margin-right: 15px;
	margin-bottom: 0;
	margin-left:15px;
}

.text-content .text .info{
	text-align:left;
	width:260px;
	margin-right: auto;
	margin-left: auto;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
}
/* =text-description
 * --------------------------------------------------------------*/
.flash {
	width:410px;
	height:290px;
	/*background-image:url(../images/bg-08.gif);*/
	background-repeat: no-repeat;
	padding-right: 41px;
	padding-left: 42px;
}
.flash table td{vertical-align:middle; text-align:center;}
.flash table th{
	vertical-align:bottom;
	text-align:center;
}
.text-description-01{
	font-size:12px;
	/*background:url(../images/bg-03.gif) repeat-y 0 100%;
	background-color:#f2f2f2;*/
	width:250px;

	padding-right: 13px;
	padding-bottom: 25px;
	padding-left: 13px;
}
.text-description-01 P{
	line-height:24px;
	text-align:left;
	width:250px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding-bottom: 3px;
}
.text-description-01  span{
	line-height:24px;
}


.text-description-02{
	margin-top:20px;
	font-size:12px;
/*	background:url(../images/bg-06.gif) repeat-y 0 100%;*/
	width:390px;
	height:1%;
	padding-right: 13px;
	padding-bottom: 16px;
	padding-left: 13px;
	text-align:left;
	margin-bottom:30px;
}
.text-description-02 h2{text-align:left;height:45px;}
.text-description-02 P{line-height:14px;text-indent:2em;width:390px;}


.text-descri3-box{
    margin-top:12px;
	width:410px;

	height: 232px;
	/*background-image: url(../images/bg1.jpg);*/
	background-repeat: no-repeat;
}
/*.text-description-03{
	margin-top:12px;
	font-size:12px;
	width:390px;
	overflow-y:auto;
	height:200px;
	background-image: url(../images/bg-06.gif);
	background-repeat: repeat-y;
	background-position: 0 100%;
	padding-top: 16px;
	padding-right: 13px;
	padding-bottom: 16px;
	padding-left: 13px;
} 
*/
.text-description-03{
	font-size:12px;
	width:385px;
	overflow-y:auto;
	/*height:195px;*/
	background-repeat: repeat-y;
	background-position: 0 100%;
	padding-top: 16px;
	padding-right: 13px;
	padding-bottom: 16px;
	padding-left: 13px;
	float: left;
	text-align:left;
} 
.text-descri3-box h2{text-align:left;height:37px;	padding-left: 13px;}
.text-description-03 P{line-height:14px;}
.text-description-03 P.marginT20{
	margin-top:18px;
	margin-bottom: 10px;
}
/* =photo-lists
 * --------------------------------------------------------------*/
.photo-lists{margin:29px 30px 52px;}
.photo-lists .option A{display:block;font-size:12px;color:#000000;}
.photo-lists .option .btn-01{margin-bottom:5px;background:url(../images/btn-01.gif) no-repeat 0 0;width:92px;height:21px;line-height:17px;text-align:center;}
.photo-lists .photo{margin-top:26px;}
.photo-lists .photo LI{float:left;width:219px;height:400px;}
.photo-lists .photo LI SPAN{
	display: table-cell; 
	*display:block;
	/*background:url(../images/bg-02.gif) no-repeat 0 0;*/
	width:219px;
	height:253px;
	text-align:left;
	vertical-align:middle; 
	line-height:220px;
	*font-size: 220px;/*约为高度的0.873，200*0.873 约为175*/        
	*font-family:Arial;
}
.photo-lists .photo LI SPAN img{vertical-align:middle;}
.photo-lists .photo LI P{
	font-size:12px;
	line-height:1;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
}

.photo-lists .photo LI p  BUTTON{
	border:0;
	color:#424242;
	font-size:12px;
	font-weight:bold;
	height:15px;
	cursor:pointer;
	padding-top:3px;
	background-color: #FFF;
}

.photo-lists .photo LI .sell{
	float: right;
	width:30px;
	height:15px;
	cursor:pointer;
color:#424242;
	font-size:12px;
	font-weight:bold;
	background-color:#ec9577;
	display: inline;
	
}

/* =photo-view-01
 * --------------------------------------------------------------*/
.photo-view-01{margin-top:7px; background-color:#f2f2f2;}
.photo-view-01 H2{font-size:12px;text-align:center;/*background:url(../images/bg-04.gif) no-repeat 0 0;*/ height:21px;line-height:21px;padding-top:20px;}
.photo-view-01 dd{float:left;margin:10px 18px 0;width:96px;display:inline;}
.photo-view-01 dd P.images{/*background:url(../images/bg-05.gif) no-repeat 0 0;*/width:96px;height:104px;text-align:left;line-height:104px;*font-size: 90px;/*约为高度的0.873，200*0.873 约为175*/        *font-family:Arial;display: table-cell; *display:block;vertical-align:middle; }
.photo-view-01 dd P.images img{vertical-align:middle;}
.photo-view-01 dd P{font-size:12px;}
.photo-view-01 dt{font-size:12px;text-align:right;}
/* =photo-view-02
 * --------------------------------------------------------------*/
.photo-view-02{
	height:1%;
	text-align:left;

	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 35px;
	padding-left: 0;
}
.photo-view-02 H2{
	font-size:12px;
	text-align:center;
	background-image: url(../images/pp.jpg);
	height:32px;
	background-position: center;
	background-repeat: no-repeat;
}
.photo-view-02 h1{
	font-size:12px;
	text-align:center;
	background-image: url(../images/bt1.jpg);
	height:32px;
	background-position: center;
	background-repeat: no-repeat;
}
.photo-view-02 dd{text-align:center;display:inline;}
.photo-view-02 dd P{margin:10px 10px 10px 30px;font-size:12px;text-align:left;}
.photo-view-02 dd P.images{margin:10px 10px 10px 30px;vertical-align:middle;/*background:url(../images/bg-05.gif) no-repeat 0 0;*/width:96px;height:104px;text-align:center;*font-size: 90px;/*约为高度的0.873，200*0.873 约为175*/    *display:inline-block ;  *font-family:Arial;}
.photo-view-02 dd P.images img{vertical-align:middle;}
/* =page-nav
 * --------------------------------------------------------------*/
.page-nav{background:url(../images/bg-line-01.gif) repeat-x 0 50%;text-align:center;}
.page-nav P{margin:0 auto;background:#FFF;width:200px;}
.page-nav P SPAN{padding-left:3px;background:url(../images/btn-03.gif) repeat-x 0 0;width:14px;height:26px;text-align:left;}
.page-nav P SPAN,.page-nav P A{margin:0 5px;font-size:13px;height:26px;line-height:26px;display:-moz-inline-box;display:inline-table;display:inline-block;zoom:1;*display:inline;vertical-align:top;}
/* =footer
 * --------------------------------------------------------------*/
.footer{
	text-align:center;
	margin-bottom: 20px;
	font-family:Arial, Helvetica, sans-serif;
}
.footer,.footer .links A{font-size:12px;}
.footer .links A{padding:0 10px;}
.footer .copyright{margin-top:10px;background:url(../images/bg-line-01.gif) repeat-x 0 50%;}
.footer .copyright SPAN{padding:0 10px;background:#FFF;}
.footer .copyright SPAN B{font-size:12px;}
