{include file=admin/header.tpl.htm}



	{include file=admin/pager_bar.tpl.htm}
	<br />
		<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">	
		<tr  class="header">
			<td width="7" height="20">&nbsp;</td>
			<td width="175">用户名</td>
			<td width="191">真实姓名</td>
			<td width="186">E-mail</td>
			<td width="193">最后登陆IP</td>
			<td width="199">最后登陆时间</td>
			<td width="278" align="right">动作</td>
		</tr>
		
		{section name=a_list loop=$aList}
		<tr bgcolor="#FFFFFF">
			<td height="20">&nbsp;</td>
			<td>{$aList[a_list].userName}</td>
			<td>{$aList[a_list].trueName}</td>
			<td>{$aList[a_list].email}</td>
			<td>{$aList[a_list].lastIP}</td>
			<td>{$aList[a_list].lastTime}</td>
			<td><a href="manager.php?act=detail&id={$aList[a_list].id}">查看</a>&nbsp;&nbsp;
			<a href="manager.php?act=modify&id={$aList[a_list].id}">编辑</a>&nbsp;&nbsp;
			{if $aList[a_list].userName neq 'admin' }
			{if $aList[a_list].status == '0'}
			  <a href="manager.php?act=open&id={$aList[a_list].id}" onclick="return confirm('确认开启[{$aList[a_list].trueName}]的帐号');">开启</a>&nbsp;&nbsp;
			{else}
			<a href="manager.php?act=closed&id={$aList[a_list].id}" onclick="return confirm('确认关闭[{$aList[a_list].trueName}]的帐号');">关闭</a>
			{/if}
			{/if}			</td>
		  </tr>
		{/section}	
		</table>
		<br />
		{include file=admin/pager_bar.tpl.htm}

{include file=admin/footer.tpl.htm}