{include file=admin/header.tpl.htm}

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
		<tr>
		<td align="center" colspan="8">	
			 <form name="form1" method="post" onsubmit="return checkForm();">	
          <input type="radio" name="status" value="0" onclick="location.href='?act=listAll&status=0&cID='+cID.value;" {if $iStatus == 0} checked {/if} >待审核区&nbsp;
          <input type="radio" name="status" value="1" onclick="location.href='?act=listAll&status=1&cID='+cID.value;" {if $iStatus == 1} checked {/if}>已审核区&nbsp;           <input type="radio" name="status" value="3" onclick="location.href='?act=listAll&status=3&cID='+cID.value;" {if $iStatus == 3} checked {/if}>推荐区&nbsp;
       	  <input type="radio" name="status" value="2" onclick="location.href='?act=listAll&status=2&cID='+cID.value;" {if $iStatus == 2} checked {/if}>回收站&nbsp;  
          <input type="radio" name="status" value="-1" onclick="location.href='?act=listAll&status=-1&cID='+cID.value;" {if $iStatus == -1} checked {/if}>全部&nbsp;
          <input type="text" name="q" value="{$q}">
          <select name="cID" onchange="location.href='?act=listAll&cID='+cID.value;">
			<option value="0">所有</option>
			{$sOptions}
		  </select>
		  {* <input type="button" onclick="location.href='?act=listAll&cID='+cID.value+'&status='+cID.value" value="搜索"> *}  
		  <input type="submit" value="搜索">
      </td>
	  </tr>		
	  
	 	 
		<tr  class="header">
			<td width="5%">&nbsp;</td>			
			<td>标题</td>						
			<td>栏目</td>	
			<td>行业</td>	
			<td>发布人</td>
			<td>发布时间</td>
			<td>点击次数</td>
			<td>操作</td>		
		</tr>	
		
		{section name=list loop=$aList}
		<tr bgcolor="#FFFFFF">
		    <td><input type="checkbox" name="newsID[]" id="newsID[]" value="{$aList[list].id}"></td>    		
   			<td>   			
   			{if $aList[list].status == "1" || $aList[list].status == "3"} {* 已审核或推荐 *}
   				{if $aList[list].isRed == 1}
   					<a href="{$__NEWS_HTM}{$aList[list].fileName}" target="_blank"><font color="Red">{$aList[list].title}</font></a>
   				{else}
   					<a href="{$__NEWS_HTM}{$aList[list].fileName}" target="_blank">{$aList[list].title}</a>  				
   				{/if}
   			{elseif $aList[list].status == "0" || $aList[list].status == "2"}	{* 未审核或回收站 *}
				{if $aList[list].isRed == 1}
   					<font color="Red">{$aList[list].title}</font>
   				{else}
   					{$aList[list].title}  				
   				{/if}   			
   			{/if}
   			{if $aList[list].pic}[<font color="Red">图</font>]{/if}
   			</td>	
   			<td><a href="?act=listAll&cID={$aList[list].cID}&status={$iStatus}">{$aList[list].catName}</a></td>		    
   			<td><a href="?act=listAll&hangyeID={$aList[list].hangyeID}&status={$iStatus}">{$aList[list].hangyeName}</a></td>		    
		    <td><a href="?act=listAll&userName={$aList[list].userName}">{$aList[list].userName}</a></td>
		    <td>{$aList[list].addDate}</td>
		    <td>{$aList[list].click}</td>
		    <td>
		    	<a href="?act=showPage&id={$aList[list].id}" target="_blank">预览</a>
		    	<a href="?act=makeStatic&id={$aList[list].id}" target="_blank">生成</a>
		    	<a href="?act=edit&id={$aList[list].id}">编辑</a>
		    </td>
   	 	</tr>
  		{/section}
		<tr bgcolor="#FFFFFF">
		 <td colspan=8>	
			<input type='checkbox' onclick="CheckAll(this.form.elements['newsID[]'], this.checked)">全选/反选
		 	{if $iStatus == 0} {* 待审核 *}
		 		<input type="button" name="check" value="审 核" onclick="SubmitForm('check');">
		 		<input type="button" name="recommend" value="推 荐" onclick="SubmitForm('recommend');">
		 		<input type="button" name="recycle"  value="放入回收站" onclick="SubmitForm('recycle');">		 		
		 	{elseif $iStatus == 1}{* 已审核 *}
		 		<input type="button" name="uncheck" value="设为未审核" onclick="SubmitForm('uncheck');">
		 		<input type="button" name="recommend" value="推 荐" onclick="SubmitForm('recommend');">
		 		<input type="button" name="recycle"  value="放入回收站" onclick="SubmitForm('recycle');">
		 	{elseif $iStatus == 2}{* 回收站 *}
		 		<input type="button" name="uncheck" value="设为未审核" onclick="SubmitForm('uncheck');">
		 		<input type="button" name="del" value="删 除" onclick="SubmitForm('del');">
			{elseif $iStatus == 3}{* 推荐 *}
		 		<input type="button" name="uncheck" value="设为未审核" onclick="SubmitForm('uncheck');">
		 		<input type="button" name="del" value="删 除" onclick="SubmitForm('del');">		 		
		 	{else}
		 		<input type="button" name="recycle"  value="放入回收站" onclick="SubmitForm('recycle');">
		 	{/if}
		 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <select name="cID1">
			{$sOptions}
		  </select>
		  <select name="actType">
		  <option value="1">复制</option>
		  <option value="2">转移</option>
		  </select>
		 	<input type="button" name="copy" value="提交" onclick="SubmitForm('copy')">
		 	
		 </td></tr>
</form>	
</table>
<br>
{include file=admin/pager_bar.tpl.htm}


{include file=admin/footer.tpl.htm}

{literal}
<script language="javascript">
function CheckAll(srcElem, do_check){
        if(typeof(srcElem)=='undefined') return;
        var cnt = (typeof(srcElem.length)!='undefined')? srcElem.length : 0;
        if(cnt){
                for(var i=0;i<cnt; i++)
                        srcElem[i].checked = do_check;
        }else
                srcElem.checked = do_check;
}
function SubmitForm()
{	
    if (arguments.length<=0) return false;
    FormObject = document.getElementsByTagName("FORM")[0];
    if ((FormObject==null)||(FormObject==undefined)) return false;
   // alert(arguments[0]);
    switch(arguments[0])
    {
    	case "recycle": var str = "放入回收站"; break;
    	case "del": var str = "彻底删除"; break;
    	case "check": var str = "进行审核"; break;
    	case "recommend": var str = "设为推荐"; break;
    	case "uncheck": var str = "设为未审核"; break;
    	case "copy": var str = "处理数据"; break;
    	default: break;    	
    }
    
    if(confirm("您真的要将选中的"+str+"吗?") == true)
    {
{/literal}    	
    	FormObject.action = "?act="+arguments[0]+"&status={$iStatus}&cID={$cID}&cID1={$cID1}";
{literal}    	
    	FormObject.submit();
    }    
  }  
 
</script>
{/literal}

