{include file=admin/header.tpl.htm}

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
		<form name="add" method="POST" action="?act=editSave" enctype="multipart/form-data" onsubmit="return checkInput();">
		<tr class="header">
			<td colspan="2">{$PAGE_FUNC_SMALL_NAME}</td>
		</tr>
		<tr>
			<td width="100" class="altbg1">作品所属类别：</td>
			<td class="altbg2">
			<select name="cID" id="cID">
				{$sOptions}
			</select>&nbsp;&nbsp; <span class="starHit">*</span></td>
		</tr>
		<tr>
			<td class="altbg1">作品名称：</td>
			<td class="altbg2"><input type="text" id="name" name="name" size="40" value="{$aField.name}"> <span class="starHit">*</span></td>
		</tr>
		<tr>
			<td class="altbg1">作品名称(英文)：</td>
			<td class="altbg2"><input type="text" id="ename" name="ename" size="40" value="{$aField.ename}"> <span class="starHit">*</span></td>
		</tr>
		<tr>
			<td class="altbg1">作品价格：</td>
			<td class="altbg2">
			<select name="price" id="price">
                	<option value='0'>全部</option>
				{foreach from=$price item=prc}
					<option value='{$prc.id}' {if $prc.id eq $aField.price} selected {/if}>{$prc.price_name}</option>
				{/foreach}
				</select>
		    RMB</td>
		</tr>
		<tr>
			<td class="altbg1">作品年代：</td>
			<td class="altbg2"><input type="text" id="age" name="age" size="40" value="{$aField.age}"></td>
		</tr>
		<tr>
			<td class="altbg1">作品编码：</td>
			<td class="altbg2"><input type="text" id="picCode" name="picCode" size="40" value="{$aField.picCode}"></td>
		</tr>         
		<tr>
			<td class="altbg1">作者编码：</td>
			<td class="altbg2"><input type="text" id="artistCode" name="artistCode" size="40" value="{$aField.artistCode}">请确保此作者已经存在</td>
		</tr>      
		<tr>
			<td class="altbg1">尺寸：</td>
			<td class="altbg2"><input type="text" id="size" name="size" size="40" value="{$aField.size}"></td>
		</tr>      
		<tr>
			<td class="altbg1">尺寸(英文)：</td>
			<td class="altbg2"><input type="text" id="esize" name="esize" size="40" value="{$aField.esize}"></td>
		</tr>   
		<tr>
			<td class="altbg1">签名：</td>
			<td class="altbg2"><input type="text" id="signal" name="signal" size="50" value="{$aField.signal}"></td>
		</tr> 
			<td class="altbg1">签名(英文)：</td>
			<td class="altbg2"><input type="text" id="esignal" name="esignal" size="50" value="{$aField.esignal}"></td>
		</tr>  
		<tr>
			<td class="altbg1">出版：</td>
			<td class="altbg2"><input type="text" id="literature" name="literature" size="100" value="{$aField.literature}"></td>
		</tr>  
		<tr>
			<td class="altbg1">出版(英文)：</td>
			<td class="altbg2"><input type="text" id="eliterature" name="eliterature" size="100" value="{$aField.eliterature}"></td>
		</tr>          
		<tr>
			<td class="altbg1">展览：</td>
			<td class="altbg2"><input type="text" id="exhibition" name="exhibition" size="100" value="{$aField.exhibition}"></td>
		</tr>         
		<tr>
			<td class="altbg1">展览(英文)：</td>
			<td class="altbg2"><input type="text" id="exhibitionEName" name="exhibitionEName" size="100" value="{$aField.exhibitionEName}"></td>
		</tr> 
		<tr>
			<td class="altbg1">推荐作品：</td>
			<td class="altbg2">{html_radios name="status" options="$aENUM" checked=$aField.status}<span class="starHit">*</span></td>
		</tr>	
		<tr>
			<td class="altbg1">排序：</td>
			<td class="altbg2"><input type="text" id="rank" name="rank" size="10" value="{$aField.rank}"></td>
		</tr> 	
		<tr>
			<td class="altbg1">作品点评：</td>
			<td class="altbg2"><textarea name="comment" cols="50" rows="5" id="comment">{$aField.comment}</textarea></td>
		</tr>			
		<tr>
			<td class="altbg1">作品点评(英文)：</td>
			<td class="altbg2"><textarea name="ecomment" cols="50" rows="5" id="ecomment">{$aField.comment}</textarea></td>
		</tr>
		<tr>
			<td class="altbg1">作品描述：</td>
			<td class="altbg2">{$sContent}</td>
		</tr>
		<tr>
			<td class="altbg1">作品描述(英文)：</td>
			<!--td class="altbg2">{$eContent}</td-->			
			<td class="altbg2"><textarea name="edescription" cols="150" rows="5" id="edescription">{$aField.edescription}</textarea></td>
		</tr>
		<tr>
			<td align="left" class="altbg1"><input type="button" onclick="history.go(-1);" value="返回" class="button"></td>
			<td align="right" class="altbg2">
			<input type="hidden" name="id" value="{$aField.id}">
			<input type="hidden" name="oldStatus" value="{$aField.status}">
			<input type="submit" name="submit" value=" 提 交 " class="submit"></td>	
		</tr>
		</form>
</table>
{literal}
<script language="javascript">
//验证表单输入是否正确
function checkInput()
{
	if($('cID').value =="")
	{
		alert("请选择所属栏目！");
		$('cID').focus();
		return false;	
	}
	else if($('name').value =="" || $('name').value == null )
	{
		alert("作品名称不能为空！");
		$('name').focus();
		return false;	
	}
	else
	{
		return true;
	}

	
}
</script>
{/literal}

 {include file=admin/footer.tpl.htm}