TD {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 12pt; FONT-FAMILY: "宋体"
}
.gray {
	FONT-SIZE: 9pt; COLOR: #888888; LINE-HEIGHT: 16px; FONT-FAMILY: "宋体"
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #646464; LINE-HEIGHT: 16px; FONT-FAMILY: "宋体"
}
.gray1 {
	FONT-SIZE: 9pt; COLOR: #dddddd; LINE-HEIGHT: 16pt; FONT-FAMILY: "宋体"
}
.uprise {
	VERTICAL-ALIGN: super; TEXT-TRANSFORM: none; FONT-VARIANT: small-caps
}
.blue {
	COLOR: #007dc6
}
.small {
	FONT-SIZE: 9px; COLOR: #999999; LINE-HEIGHT: 12px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:link {
	COLOR: #043b9c; TEXT-DECORATION: none
}
A:visited {
	COLOR: #043b9c; TEXT-DECORATION: none
}
.form {
	BORDER-RIGHT: #888888 1px solid; BORDER-TOP: #888888 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #888888 1px solid; COLOR: #000000; BORDER-BOTTOM: #888888 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.white {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 18pt; FONT-FAMILY: "宋体"
}
.title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #333333; FONT-FAMILY: "宋体"
}
.size8 {
	FONT-SIZE: 8pt; FONT-FAMILY: "宋体"
}
.size09 {
	FONT-SIZE: 9pt; LINE-HEIGHT: 13px
}
.color01 {
	COLOR: #043b9c
}

