{include file="reart/header.html"}
{literal}
<script type="text/javascript" >
function refreshValidateCode(id)
{
	document.getElementById(id).src = "/js/validateCode.php?t="+Math.random();
}
</script>
{/literal}
	<div class="sign-form">
	  <table width="939">
	    <tr>
	      <td class="link" width="287" rowspan="4" align="center"><img src="/images/Contact.jpg" width="76" height="15" /></td>
	      {$msg}
        </tr>
        <form action="/user/contact_us.php?action=submit" method="POST">
        <input name="type" type="hidden" value="0">
	    <tr>
	      <td >建议/意见:</td>
	      <td><textarea cols="46" rows="8" name="content"></textarea></td>
        </tr>
	    <tr>
	      <td>验证码:</td>
	      <td><input class="width-02" type="text" name="validateCode2" /> <img style="" id="previewPic" src="/js/validateCode.php" onclick="refreshValidateCode('previewPic');" alt="刷新验证码">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit">提交</button></td>
        </tr>
        </form>
	    <tr>
	      <td></td>
	      <td class="btn">&nbsp;</td>
        </tr>
	    <tr>
	      
        </tr>
      </table>
</div>
	{include file="reart/footer.html"}
</div>
</body>
</html>



