{include file="reart/header.html"}	
<div class="photo-lists">
		<div class="option">
			<p><a  href="/user/favorite.php"><img src="/images/fav.jpg" /></a></p>
			<p><a href="/user/mod_user_info.php"><img src="/images/modify.jpg" /></a></p>
		</div>	
		<div class="page-nav">
			<p>{include file="reart/module_page.html"}</p>
		</div>
		{include file="reart/module_work_list.html"}
		<div class="page-nav">
			<p>{include file="reart/module_page.html"}</p>
		</div>		
</div>
	{include file="reart/footer.html"}
</div>
</body>
</html>



