<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>首页</title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<link rel="stylesheet" type="text/css" href="/css/base.css" />
</head>
<body>
<div id="main-wrap">
	<div class="header wrapClear">
		<div class="logo"><a href="#"><img src="/images/logo.gif" alt="" /></a></div>
		<div class="text">艺术品收藏推荐</div>
	</div>
	<div class="main-nav wrapClear">
		<div class="nav"><a href="/index.php">首页</a><b>|</b><a href="/user/about_us.php">关于睿艺</a><b>|</b><a href="/list.php">睿艺艺术品推荐目录</a><b>|</b><a href="/user/consultation.php">投资收藏咨询</a><b>|</b><a href="/user/contact_us.php">联系我们</a><b>|</b>{$check_login}</div>
		<div class="language"><a href="#">中文</a><a href="#">English</a></div>
	</div>