<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>睿艺收藏顾问网-{$title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/base.css" />
</head>
<body>
<div id="main-wrap">
	<div class="header wrapClear">
		<div class="logo"><a href="/index.php"><img src="/images/logo.gif" alt="" /></a></div>
		<div class="text">{include file="reart/module_search_header.html"}</div>
	</div>
	<div class="main-nav wrapClear">
		<div class="nav"><a href="/list.php">艺术家</a><b>|</b><a href="/buylist.php">购买</a><b>|</b><a href="/invest.php">收藏知识</a><b>|</b><a href="/user/contact_us.php">联系我们</a><b>|</b>{$check_login}</div>
		<div class="language"><a href="/index.php?language=en"><font style="font-family:Arial, Helvetica, sans-serif;">English</font></a></div>
	</div>


