{include file="reart/header.html"}
	<div class="text-content wrapClear">
    <div>
    <p><img src="/images/link.jpg" width="77" height="29" /></p>
	</div>
	  <div class="option">
	  </div>
		<div class="text">
      <div><img src="/images/bg-01t.gif" width="659" height="21" /></div>
			<p>{section name=list loop=$linklist}
			<a href="{$linklist[list].url}"><img src="/upload/{$linklist[list].picname}"></a>
			{/section}
			</p>
		  <div><img src="/images/bg-01bt.gif" width="659" height="27" /></div>
		</div>		
	</div>
	{include file="reart/footer.html"}
</div>
</body>
</html>



