		<script type="text/javascript" src="js/common.js"></script>
        <script type="text/javascript" src="js/transport.js"></script>
        <div class="photo">
			<ul class="wrapClear">
            {foreach from=$worklist item=work }
				<li>
					<span><a href="detail.php?id={$work.id}"><img src="{$img_url_m}{$work.picPath}" alt="" /></a></span>
					<p>作品名：{$work.name}</p>
					<p>作者：{$work.artist_name}</p>
					<p>日期：{$work.addDate}</p>
					<p>价格：{$work.price}</p>
                    <p><button onclick="favorite({$work.id},{$user_id})">收藏</botton></p>
				</li>
            {/foreach}					
			</ul>
		</div>


