{include file=admin/header.tpl.htm}
{include file=admin/common.tpl.htm}

<table width='98%' border='1' cellspacing='0' cellpadding='0' align='center' bordercolordark='#FFFFFF' bordercolorlight='#000000'  bgcolor='#efefef'>
 	<form method="POST">
		<tr>
		<td align="center">	
		<a href="agent.php?act=addDomain">添 加</a>&nbsp;&nbsp;
        <input type="radio" name="status" value="1" {if $iStatus == 1} checked {/if} >开启状态&nbsp;
       	<input type="radio" name="status" value="0" {if $iStatus == 0} checked {/if}>关闭状态                               
        <input type="radio" name="status" value="-1" {if $iStatus == -1} checked {/if}>全部&nbsp;&nbsp;
        <input type="text" name="q" value="{$q}">       
        <input type="submit" name="Submit" value="提交">&nbsp;&nbsp;每页显示不要超过50条。</td>		 
	</tr>	
</form>	
</table>

<table class="tableborder" width="98%" cellpadding="8" cellspacing="0" border="0" align="center">
<tr>
	<td bgcolor="#FFFFFF">       	
		<table cellspacing="1" cellpadding="4" width="98%" align="center" class="tableborder">		
		<tr  class="header">
			<td width="50">编号</td>		
    		<td>域名</td>
    		<td>对应频道</td>
			<td>添加时间</td>
			<td>生成</td>
			<td>操作</td>
		</tr>
		<tr><td colspan="5" class="singleborder">&nbsp;</td></tr>
		
		{section name=list loop=$aList}
		<tr bgcolor="#FFFFFF">
		    <td>{$smarty.section.list.rownum}</td>    		
   			<td>
   			{if $aList[list].type == "outside"}<font color=orange>&copy;&nbsp;</font>{/if}
   			
   			 <a href="http://{$aList[list].domain}" target="_blank">
   			 {if $aList[list].open == "yes"} 
   			 	<font color=green>{$aList[list].domain}</font> 
   			 {else}
   			  {$aList[list].domain}
   			 {/if}</a>
   			  
   			</td>		   
   			<td>{$aList[list].mark}</td>
   			<td>{$aList[list].rdate}</td>
   			<td><a href="/union/ci.php?id={$aList[list].id}" target="_blank">生成</a></td>
   			<td><a href="agent.php?act=editDomain&id={$aList[list].id}">修改</a></td>
   	 	</tr>
  		{/section}
		
		
		</table>		
		
<br>
<div align="center"><a href="/union/all.php" target="_blank">生成所有</a></div><br>
{include file=admin/pager_bar.tpl.htm}
</td>
 </tr>
</table>

{include file=admin/footer.tpl.htm}