{include file=admin/header.tpl.htm}
{literal}
<script>
	document.onclick=function() {document.getElementById("popFrame").style.visibility="hidden";}
</script>
{/literal}
<IFRAME frameBorder=0 id=popFrame name=popFrame scrolling=no src="../js/date/images\popcjs.htm" style="BORDER-BOTTOM: 0px ridge; BORDER-LEFT: 0px ridge; BORDER-RIGHT: 0px ridge; BORDER-TOP: 0px ridge; POSITION: absolute; VISIBILITY: hidden; Z-INDEX: 65535"></IFRAME>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
		<form name="add" method="POST" action="?act=editSave" enctype="multipart/form-data" onsubmit="return checkInput();">
		<tr class="header">
			<td colspan="2">{$PAGE_FUNC_SMALL_NAME}</td>
		</tr>
		<tr>
			<td width="100" class="altbg1">姓名：</td>
			<td class="altbg2"><input type="text" id="name" name="name" size="40" value="{$aField.name}">
		   <span class="starHit">*</span></td>
		</tr>
		<tr>
			<td class="altbg1">性别：</td>
			<td class="altbg2">{html_radios name="sex" options="$aSex" checked=$aField.sex}<span class="starHit">*</span></td>
		</tr>
		<tr>
			<td class="altbg1">职业：</td>
			<td class="altbg2"><input type="text" id="profession" name="profession" size="40" value="{$aField.profession}"></td>
		</tr>
		<tr>
			<td class="altbg1">作家编号：</td>
			<td class="altbg2"><input type="text" id="artistCode" name="artistCode" size="40" value="{$aField.artistCode}"></td>
		</tr>          
		<tr>
			<td class="altbg1">出生日期：</td>
			<td class="altbg2">
			<input type="text" name="birthday" id="birthday" readonly=""value="{$aField.birthday}" class="input_text" />
              <img src="../js/date/images/date.gif" name="caseDealTime" id="caseDealTime" style="cursor:hand;" onclick="popFrame.fPopCalendar('birthday','birthday',event);" value=" 选择日期 "></td>
		</tr>			
		
		<tr>
			<td class="altbg1">作家简介：</td>
			<td class="altbg2">{$sContent}</td>
		</tr>
		<tr>
			<td align="left" class="altbg1"><input type="button" onclick="history.go(-1);" value="返回" class="button"></td>
			<td align="right" class="altbg2">
            <input type="hidden" name="id" value="{$aField.id}">
            <input type="submit" name="submit" value=" 提 交 " class="submit"></td>	
		</tr>
		</form>
</table>
{literal}
<script language="javascript">
//验证表单输入是否正确
function checkInput()
{

	if($('name').value =="")
	{
		alert("姓名不能为空！");
		$('name').focus();
		return false;	
	}

	return true;
}
</script>
{/literal}

 {include file=admin/footer.tpl.htm}