{include file=admin/header.tpl.htm}

{literal}
<script language="javascript">
function checkInput() 
{		
	if($('name').value == "")
	{
		alert("请填写名称！");		
		$('name').focus();
		return false;
	}
}
</script>

{/literal}

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
		<tr class="header">
			<td colspan="2">{$PAGE_FUNC_SMALL_NAME}</td>
		</tr>		
		<form name="add" method="POST" onsubmit="return checkInput();" action="category.php?act=addSave&tbl={$sTbl}">		
		<!--tr>
          <td width="100" class="altbg1">上级分类</td>
          <td class="altbg2">         
          <select name="pID">
          	<option value="0">新增</option>                     	
           {$sOptions}
          </select>&nbsp;&nbsp;*</td>
        </tr-->
        <tr>
          <td class="altbg1">中文名称</td>
          <td class="altbg2"><input type="text" name="name" size="50" class="input_text"  >&nbsp;&nbsp;*</td>
        </tr>
         <tr>
          <td class="altbg1">英文名称</td>
          <td class="altbg2"><input type="text" name="ename" size="50" class="input_text" /></td>
        </tr>
       
		<tr>
			<td align="left" class="altbg1"><input type="button" onclick="history.go(-1);" value="返回"></td>
			<td align="right" class="altbg2"><input type="submit" name="submit" value=" 提 交 "></td>
		</tr>
		</form>
		</table>

{include file=admin/footer.tpl.htm}