* {
	font-size: 9pt;
}
p { line-height:18px;}
.trColor {background-color:expression((this.sectionRowIndex%2==0)?"#ffffff":"#F0F0F0")}

A:link {
	COLOR: #006600
}
A:visited {
	COLOR: #030
}
A:hover {
	COLOR: #003300;
	background-color:#00000;
}
.grayLink	{ color: #CCCCCC }
a.grayLink:link{
	COLOR: #CCCCCC;
	text-decoration: none;
}
a.grayLink:hover{
	COLOR: #000000;
	text-decoration: none;
}
a.grayLink:visited{
	COLOR: #DEDEDE;
}
.light {
	color: #990000;
	font-weight: bold;
}

a			{ text-decoration: none; color: #003366 }
a:hover			{ text-decoration: underline }
body			{ scrollbar-base-color: #F8F8F8; scrollbar-arrow-color: #698CC3; font-size: 12px; background-color: #9EB6D8 }
table			{ font: 12px Tahoma, Verdana; color: #000000 }
input,select,textarea	{ font: 12px Tahoma, Verdana; color: #000000; font-weight: normal; background-color: #F8F8F8 ;}
input:hover,input:focus {
  font-size: 12px;
  border: 1px solid #FF6600;
}
input:active {
  font-size: 12px;
  border: 1px solid #FF6600;
}
input:focus {
  font-size: 12px;
  border: 1px solid #FF9900;
}
textarea:focus {
  font-size: 12px;
  border: 1px solid #FF9900;
}
select			{ font: 11px Arial, Tahoma; color: #000000; font-weight: normal; background-color: #F8F8F8 }
.nav			{ font: 12px Tahoma, Verdana; color: #000000; font-weight: bold }
.nav a			{ color: #000000 }
.header			{ font: 11px Tahoma, Verdana; color: #FFFFFF; font-weight: bold; background-color: #698CC3 }
.header a		{ color: #FFFFFF }
.category		{ font: 11px Arial, Tahoma; color: #000000; background-color: #EFEFEF }
.tableborder		{ background: #D6E0EF; border: 1px solid #698CC3 } 
.singleborder		{ font-size: 0px; line-height: 1px; padding: 0px; background-color: #F8F8F8 }
.smalltxt		{ font: 11px Arial, Tahoma }
.outertxt		{ font: 12px Tahoma, Verdana; color: #000000 }
.outertxt a		{ color: #000000 }
.bold			{ font-weight: bold }
.altbg1			{ background: #F8F8F8 }
.altbg2			{ background: #FFFFFF }
.redFontNotBold		{ font: 12px Tahoma, Verdana; color: red; }
.redFontBold		{ font: 12px Tahoma, Verdana; color: red; font-weight: bold }
.blueFontNotBold	{ font: 12px Tahoma, Verdana; color: blue; }
.blueFontBold		{ font: 12px Tahoma, Verdana; color: blue; font-weight: bold }
.blackFontNotBold	{ font: 12px Tahoma, Verdana; color: black; }
.blackFontBold		{ font: 12px Tahoma, Verdana; color: black; font-weight: bold }