{include file=admin/header.tpl.htm}
{include file=admin/common.tpl.htm}

{literal}
<script language="javascript">
function checkForm()
{
	if($('perPage').value > 50)
	{
		alert('每页显示不要超过50条！');
		return false;
	}
}
</SCRIPT>
{/literal}

<table class="tableborder" width="98%" cellpadding="8" cellspacing="0" border="0" align="center">
<tr bgcolor="#ffffff">
	<td>			
		<table class="tableborder" width="98%" cellpadding="4" cellspacing="1" border="0" align="center">	
		<tr class="header">
			<td>{$PAGE_FUNC_SMALL_NAME}</td>	
		</tr>		
		<tr bgcolor="#ffffff"><td  class="singleborder">&nbsp;</td></tr>
        <tr bgcolor="#ffffff"><td>
       <center>
       <form name="form1" method="post" action="gbookCenter.php?act={$sAction}" onsubmit="return checkForm();">
   		每页显示<input name="perPage" type="text" id="perPage" value="{$iPerPage}" size="6">条记录
       	在<input type="radio" name="status" value="1" {if $iStatus == 1} checked {/if}>已有效区
       	<input type="radio" name="status" value="2" {if $iStatus == 2} checked {/if}>回收站  
        <input type="radio" name="status" value="-1" {if $iStatus == -1} checked {/if}>全部&nbsp;&nbsp;
        <input type="text" name="q" value="{$q}">
        <input type="submit" name="Submit" value="提交">(输入留言标题或内容进行模糊搜索)             
              &nbsp;&nbsp;每页显示不要超过50条。
       </form>
       </center> 	
                        
        {include file=admin/pager_bar.tpl.htm}<br> {* 分页 *}
		<div align="center" class="" id="hit_info"></div>

		 <form name="form1" method="POST" action="gbookCenter.php?act={$sTbl}&projectID={$iProjectID}" onsubmit="judge();">         						
		{section name=list loop=$aList }  
		<table width="98%" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" style="display:" id="s_{$smarty.section.list.index}" align="center">
                            <tr bgcolor="#FFFFFF">
                              <td width="8%" rowspan="4" align="center">
                              {* $aList[list].id *}
                              <input type='checkbox' name="id[]" value="{$aList[list].id}">
                              </td> 
		                      <td width="8%">标题：</td>
                              <td width="38%">{$aList[list].title}</td>
                              <td width="8%">客户：</td>
                              <td>{$aList[list].userName}</td>
                            </tr>
                            <tr bgcolor="#FFFFFF"> 
							  <td><font color="#666666">留言内容：</font></td>
							  <td colspan="3">
									<font color="#CC0000">留言时间：{$aList[list].addDate}</font><br>
                                	<font color="#666666">{$aList[list].content}</font>
							  </td>
							  
                            </tr>
							 {if $aList[list].replyContent}
                            <tr bgcolor="#FFFFFF"> 
                              <td>【<font color="#FF0000">回复</font>】</td>
                              <td colspan="3">{$aList[list].replyContent}</td>
                            </tr>
							{/if}
                          </table>
		<br>
		{/section}		
		</form>			
		{include file=admin/pager_bar.tpl.htm}
				
		  </td></tr>		
		</table>
		
	</td>
 </tr>
</table>
{include file=admin/footer.tpl.htm}