{include file=admin/header.tpl.htm}
{include file=admin/common.tpl.htm}
<table class="tableborder" width="98%" cellpadding="8" cellspacing="0" border="0" align="center">
<tr bgcolor="#ffffff">
	<td>			
		<table class="tableborder" width="98%" cellpadding="4" cellspacing="1" border="0" align="center">	
		<tr class="header">
			<td>{$sActName}</td>	
		</tr>		
		<tr bgcolor="#ffffff"><td  class="singleborder">&nbsp;</td></tr>
        <tr bgcolor="#ffffff"><td>
        
      <table width="98%" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" style="display:" id="s_{$smarty.section.list.index}" align="center">
           <tr bgcolor="#FFFFFF"> 
            <form name="form1" method="post" action="gbook.php?act={$sTbl}&projectID={$iProjectID}">
           	<td align="center">
           	{* 	每页显示<input name="perPage" type="text" id="perPage" value="{$iPerPage}" size="6">条记录 *}
           	
           	{if $iProjectID == 0} 时间：<input type="text" name="selectDate" value="{$dSelectDate}"> {/if}
           	
       	<input type="radio" name="isRead" value="0" {if $iIsRead == 0} checked {/if} >未读&nbsp;
       	<input type="radio" name="isRead" value="1" {if $iIsRead == 1} checked {/if}>已读&nbsp;
        <input type="radio" name="isRead" value="-1" {if $iIsRead == -1} checked {/if}>全部&nbsp;&nbsp;
        <input type="text" name="q" value="{$q}">
        <input type="submit" name="Submit" value="提交">
           	</td>          	
           	</form>
          </tr>         
        </table><br>		
       
          {include file=admin/pager_bar.tpl.htm} {* 分页 *}  <br>        
           <div align="center" class="" id="hit_info"></div>
           
         <form name="form1" method="POST" action="gbook.php?act={$sTbl}&projectID={$iProjectID}" onsubmit="judge();">         
         {section name="list" loop=$aList}
		<table width="98%" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" style="display:" id="s_{$smarty.section.list.index}" align="center">
		
		                       <tr bgcolor="#FFFFFF">
                              <td width="8%" rowspan="7" align="center"><input type='checkbox' name="id[]" value="{$aList[list].id}"></td> 
		                      <td width="8%">项目标题：</td>                             
                              <td width="38%"><a href="{$sFilePath}/{$aList[list].fileName}" target="_blank" title="查看">{$aList[list].name}</a></td>
                              <td width="8%">项目客户：</td>
                              <td>{$aList[list].userName}</td>
	                        </tr>
		
                            
                           <tr bgcolor="#FFFFFF">
                            	<td><font color="red">姓名：</font></td><td><font color="red">{$aList[list].trueName}</font></td>
								<td><font color="red">电话：</font></td><td><font color="red">{$aList[list].phone}</font></td>                            	
                            </tr>                             
							
                          <tr bgcolor="#FFFFFF">
                            	<td>性别：</td><td>{$aList[list].sex}</td>
                            	<td>手机：</td><td>{$aList[list].mobile}</td>
                            </tr> 
							 <tr bgcolor="#FFFFFF">                            	
                            	<td>email：</td><td>{$aList[list].email}</td>
								<td>QQ：</td><td>{$aList[list].qq}</td>
                            </tr> 
                         
							 <tr bgcolor="#FFFFFF">
                            	<td><font color="red">地址：</font></td><td><font color="red">{$aList[list].address}</font></td>
								<td><font color="red">邮编：</font></td><td><font color="red">{$aList[list].postcode}</font></td>
                            </tr> 
                            
                           
                            <tr bgcolor="#FFFFFF">
                            	<td><font color="#666666">留言内容：</font></td>
								<td colspan="3">
									<font color="#CC0000">留言时间：{$aList[list].addDate}　　ip：{$aList[list].ip}</font><br>
                                	<font color="#666666">{$aList[list].content}</font>
								</td>
                            </tr> 
                          </table>
                          <br>                         
          {/section}
           <center><input type="button" onClick="chkall()" value="全选/反选"> <input type="submit" value="删 除"></center>
           </form>
        {include file=admin/pager_bar.tpl.htm}<br> {* 分页 *}		
		  </td></tr>		
		</table>
		
	</td>
 </tr>
</table>
{include file=admin/footer.tpl.htm}