{include file=admin/header.tpl.htm}
{include file=admin/common.tpl.htm}
<p> </p>
{literal}
<SCRIPT language=JavaScript>
 <!--
	     function change_tag_0()
		 {
		      document.all.MyText.innerHTML="请输入报名号：";
		 } 
         function change_tag_1()
 		{
		      document.all.MyText.innerHTML="请输入准考证号：";
		}		
-->
</SCRIPT>
{/literal}
    
<IFRAME 
frameBorder=0 id=popFrame name=popFrame scrolling=no 
src="../js/date/images/popcjs.htm" 
style="BORDER-BOTTOM: 0px ridge; BORDER-LEFT: 0px ridge; BORDER-RIGHT: 0px ridge; BORDER-TOP: 0px ridge; POSITION: absolute; VISIBILITY: hidden; Z-INDEX: 65535"></IFRAME>
<table bgcolor="#FFFFFF" width="98%" cellpadding="8" cellspacing="0" border="0" align="center">
<tr><td>
<form action="" method="POST">
	<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
	<tr class="header">
		<td colspan="2" align="left">日志备份删除</td>
	</tr>
	<tr class="altbg1">
		<td align="left" nowrap colspan="2">
		{*html_radios name="term[]" options=$a_radios*}
		{$a_radios}
					<div align="right"><span id=MyText>请输入报名号：</span></div>
		</td>
	</tr>
<div id="searchBody"></div>
	<tr class="altbg1">
		<td align="left" nowrap colspan="2">
		<input type="submit" name="search" value="搜　索">
		</td>
	</tr>
	</table>
</form><br>
	{include file="admin/pager_bar.tpl.htm"}
</td></tr>
</table>
{include file=admin/footer.tpl.htm}