{include file=admin/header.tpl.htm}
{include file=admin/common.tpl.htm}
<p> </p>
<table bgcolor="#FFFFFF" width="98%" cellpadding="8" cellspacing="0" border="0" align="center">
<tr><td>
	<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
	<tr class="header">
		<td colspan="8">登录错误日志</td>
	</tr>
	<tr class="altbg1">
		<td align="center" nowrap>日志ID</td>
		<td align="center" nowrap>登录名</td>
		<td align="center" nowrap>登录密码</td>
		<td align="center" nowrap>登录时间</td>
		<td align="center" nowrap>退出时间</td>
		<td align="center" nowrap>登录IP</td>
		<td align="center" nowrap>登录状态</td>
		<td align="center" nowrap>操作</td>
	</tr>
{section name=loginLogError loop=$a_loginError}
    <tr class="altbg2">
    	<td align="center" nowrap>{$a_loginError[loginLogError].id}</td>
    	<td align="center" nowrap>{$a_loginError[loginLogError].userName}</td>
    	<td align="center" nowrap>{$a_loginError[loginLogError].pwd}</td>
    	<td align="center" nowrap>{$a_loginError[loginLogError].loginTime}</td>
    	<td align="center" nowrap>{$a_loginError[loginLogError].logoutTime}</td>
    	<td align="center" nowrap>{$a_loginError[loginLogError].ip}</td>
    	<td align="center" nowrap>{if ($a_loginError[loginLogError].status == "0")}<font color=red>登录名错误</font>{elseif ($a_loginError[loginLogError].status == "1" )}<font color=green>登录成功</font>{else}<font color=red>密码错误</font>{/if}</td>
    	<td align="center" nowrap>删除</td>
    </tr>
{/section}
	</table><br>
	{include file="admin/pager_bar.tpl.htm"}
</td></tr>
</table>
{include file=admin/footer.tpl.htm}