{include file=admin/header.tpl.htm}

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
		<form name="add" method="POST" action="?act=editSave" enctype="multipart/form-data" onsubmit="return checkInput();">
		<tr class="header">
			<td colspan="2">{$PAGE_FUNC_SMALL_NAME}</td>
		</tr>		
		<tr>
			<td width="100" class="altbg1">所属栏目：</td>
			<td class="altbg2">
			<select name="cID">
				{$sOptions}
			</select>&nbsp;&nbsp; <span class="starHit">*</span></td>
		</tr>
		<tr>
			<td width="100" class="altbg1">所属行业：</td>
			<td class="altbg2">
			<select name="hangyeID">
				{html_options options=$aHangyeList selected=$aField.hangyeID}
			</select>&nbsp;&nbsp; <span class="starHit">*</span></td>
		</tr>
		<tr>
			<td class="altbg1">新闻标题：</td>
			<td class="altbg2"><input type="text" id="title" name="title" size="60" value="{$aField.title}"> <span class="starHit">*</span></td>
		</tr>
		<tr>
			<td class="altbg1">新闻关键字：</td>
			<td class="altbg2"><input type="text" name="keywords" size="60" value="{$aField.keywords}">(两个关键字以上用","隔开) <span class="starHit">*</span></td>
		</tr>
		<tr>
			<td class="altbg1">新闻简介：</td>
			<td class="altbg2"><input type="text"  name="intro" size="100" value="{$aField.intro}"> <span class="starHit">*</span></td>
		</tr>
		<tr>
			<td class="altbg1">是否加红：</td>
			<td class="altbg2">{html_radios name="isRed" options="$aENUM" checked=$aField.isRed}<span class="starHit">*</span></td>
		</tr>		
		<tr>
			<td class="altbg1">来源：</td>
			<td class="altbg2"><input type="text" id="source" name="source" size="60" value="{$aField.source}"></td>
		</tr>
		<tr>
			<td class="altbg1">作者：</td>
			<td class="altbg2"><input type="text"  name="author" size="60" value="{$aField.author}"></td>
		</tr>		
		<tr>
			<td class="altbg1">终端页图片：</td>
			<td class="altbg2">
				<input type="file" name="pic" onPropertyChange='preview.src=this.value'>				
				{if $aField.pic} 
					<a href="{$__NEWS_PIC}{$aField.pic}" target="_blank"><img id='preview' src="{$__NEWS_PIC}{$aField.pic}" width="100" height="100" border="0"></a>
					<input name="delPic" type="checkbox" value="1">删除图片
				{else}
					<img id='preview' src="/images/no_pic.jpg" width="100" height="100" border="1">
				{/if}
			</td>
		</tr>
		<tr>
			<td class="altbg1">首页图片：</td>
			<td class="altbg2">
				<input type="file" name="pic_index" onPropertyChange='preview_index.src=this.value'>&nbsp;
				{if $aField.pic_index} 
			<a href="{$__NEWS_PIC}{$aField.pic_index}" target="_blank"><img id='preview_index' src="{$__NEWS_PIC}{$aField.pic_index}" width="86" height="56" border="0"></a>
					<input name="delPic_index" type="checkbox" value="1">删除图片
				{else}
					<img id='preview_index' src="/images/no_pic.jpg" width="86" height="56" border="1">(86×56)
				{/if}
			</td>
		</tr>			
		
		{foreach from=$aNum key=key item=item}
		<tr>
			<td class="altbg1">相关附件{$key+1}：</td>
			<td class="altbg2">			  
				<input type="file" name="attached{$key}">				
				{if $aAttached.$key} 
					<a href="{$__NEWS_ATTACHED}{$aAttached.$key}" target="_blank">{$aAttached.$key}</a><input name="delAttached{$key}" type="checkbox" value="1">删除
				{/if}
			</td>
		</tr>
		{/foreach}	
			
		<tr>
			<td class="altbg1">新闻内容：</td>
			<td class="altbg2">{$sContent}</td>
		</tr>
		<tr>
			<td align="left" class="altbg1"><input type="button" onclick="history.go(-1);" value="返回" class="button"></td>
			<td align="right" class="altbg2">
				<input type="hidden" name="oldPic" value="{$aField.pic}">
				<input type="hidden" name="oldPic_index" value="{$aField.pic_index}">
				<input type="hidden" name="id" value="{$aField.id}">
				<input type="hidden" name="oldStatus" value="{$aField.status}">
				<input type="hidden" name="fileName" value="{$aField.fileName}">
				<input type="hidden" name="oldAttached" value="{$aField.attached}">
				<input type="submit" name="submit" value=" 提 交 " class="submit">
			</td>
		</tr>
		</form>
</table>

 {include file=admin/footer.tpl.htm}